body common control
{
      bundlesequence => { "g", "cfsketch_run" };
      inputs => { $inputs };
}

bundle common g
{
  classes:
[% FOREACH activation IN activations.keys.nsort %]

 [% FOREACH var IN activations.$activation.contexts.keys.sort %]
      "$var" expression => "[% UNLESS activations.$activation.contexts.$var.value %]![% END %]any";
 [% END %]

[% END %]
  vars:
[% FOREACH activation IN activations.keys.nsort %]

 [% FOREACH var IN activations.$activation.vars.keys.sort %]
      "$var" [% activations.$activation.vars.$var.type %] => [% activations.$activation.vars.$var.value %];
 [% END %]

[% END %]
}

bundle agent cfsketch_run
{
  methods:
[% FOREACH activation IN activations.keys.nsort %]
    ${activations.$activation.prefix}__activated::
      "activations.$activation.sketch" usebundle => activations.$activation.entry_point;
[% END %]
}
