body common control
{
      bundlesequence => { "g", "cfsketch", "cfsketch_run" };
      inputs => { $inputs };
}

bundle common g
{
  classes:
[% FOREACH var IN booleans.keys.sort %]
      # TODO: do a proper true/false expression here
      "$var" => expression("[% booleans.$var %]");
[% END %]
  vars:
[% FOREACH var IN vars.keys.sort %]
      "$var"        [% types.$var %] => "[% vars.$var %]";
[% END %]
}

bundle agent cfsketch_run
{
  methods:
      "$sketch" usebundle => $entry_point($passed_vars);
}
