body common control
{
      bundlesequence => { "g", "cfsketch_run" };
      inputs => { $inputs };
}

bundle common g
{
  classes:
[% FOREACH var IN booleans.keys.sort %]
  [% IF booleans.$var %]
      "$var" expression => "any";
  [% END %]
[% END %]
  vars:
[% FOREACH var IN vars.keys.sort %]
      "$var" [% types.$var %] => [% vars.$var %];
[% END %]
}

bundle agent cfsketch_run
{
  methods:
    ${prefix}_activated::
      "$sketch" usebundle => $entry_point;
}
